<h3>Registrar Novo Lote:</h3>
<div class="card">
    <div class="card-body">
<form action="/RegistroConcluido" method="POST">
    
    <label for="TipoUva">Tipo da Uva:</label>
     <input type="text" id="Tipodauva" name="TipoUva" placeholder="Digite o tipo da uva" class="form-control">
    
    <label for="horario">Horário da irrigação:</label>
     <input type="time" id="horarioo" name="HorarioIrrigacao" class="form-control"> 

    <label for="dia">Dia que foi adubado:</label>
     <input type="date" id="diaA" name="DiaAdubado" class="form-control">

    <label for="pragas">Presença de Pragas:</label>
     <input type="text" id="pragass" name="PresencaDePragas" placeholder="Houve presença de pragas?" class="form-control">

    <label for="Tipopragas">Tipo de Praga:</label>
     <input type="text" id="pragastipo" name="TipoDePragas" placeholder="Digite o tipo de praga" class="form-control">
    
    <br>

    <button type="submit" class="btn btn-sucess">Registrar</button>

</form>
    </div>
</div>