<div class="jumbotron">
  <h1 class="display-4">Bem Vindo ao Nyso!</h1>
  <p class="lead">Aplicação para gestão de Lotes</p>
  <hr class="my-4">
  <p>Registre informações sobre o lote que você trabalha e envie para o banco de dados do dono da vinícula!</p>
  <a class="btn btn-primary btn-lg" href="/admin/cadastrarUsuario" role="button">Cadastre-se</a>
</div>

